<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casos Exitosos en el Teletrabajo</title>
    <link rel="stylesheet" href="../CSS/casosExito.css">
</head>
<body>
    <main>
        <section id="success-stories" class="contact-section">
            <h1 class="casos-exitosos-titulo">
                Casos Exitosos en el Teletrabajo
            </h1>
            <div class="casos-fila">
                <!-- Primer grupo de casos visibles -->
                <div class="caso">
                    <div class="nombre-instructor">
                        <h3>Alejandro Rodríguez</h3>
                    </div>
                    <img src="..\Img\Casoexitos1.jpg" alt="Caso 1" class="caso-imagen">
                    <div class="reseña">
                        <p class="caso-fecha">Hace 2 meses (Centro de Diseño y Metrología)</p>
                        <p class="caso-resena">"Después de 25 años en la educación, el teletrabajo ha transformado mi forma de trabajar. La flexibilidad me ha permitido equilibrar mejor mi vida personal y profesional, y la tecnología ha facilitado la conexión con mis estudiantes. Esta modalidad me ha permitido optimizar mi tiempo y continuar evolucionando como profesional."</p>
                    </div>
                </div>
                <div class="caso">
                    <div class="nombre-instructor">
                        <h3>Maria Fernández</h3>
                    </div>
                    <img src="..\Img\CasoExitos2.jpg" alt="Caso 2" class="caso-imagen">
                    <div class="reseña">
                        <p class="caso-fecha">Hace 3 meses (Centro de Electricidad, Electrónica y Telecomunicaciones)</p>
                        <p class="caso-resena">"El teletrabajo ha transformado mi enfoque profesional, permitiéndome equilibrar mejor mis responsabilidades laborales y personales. Gracias a la tecnología, mantengo una comunicación constante con mis estudiantes, impactando positivamente en su aprendizaje desde la comodidad de mi hogar."</p>
                    </div>
                </div>
                <div class="caso">
                    <div class="nombre-instructor">
                        <h3>Isabel K'iché</h3>
                    </div>
                    <img src="..\Img\CasoExitos3.jpg" alt="Caso 3" class="caso-imagen">
                    <div class="reseña">
                        <p class="caso-fecha">Hace 1 mes (Centro de Formación de Talento Humano en Salud)</p>
                        <p class="caso-resena">Como mujer indígena, el teletrabajo me ha permitido mantenerme conectada con mis raíces mientras desarrollo mi carrera profesional. La flexibilidad de esta modalidad me ha dado la oportunidad de ser más productiva y, al mismo tiempo, de preservar los valores y tradiciones de mi comunidad. Esta experiencia ha sido transformadora, permitiéndome equilibrar mi vida personal y profesional de una manera que antes no era posible.</p>
                    </div>
                </div>
            </div>
    
            <!-- Casos ocultos que se mostrarán al hacer clic en "Ver más" -->
            <div class="casos-fila hidden-casos">
                <!-- Segundo grupo de casos -->
                <div class="caso">
                    <div class="nombre-instructor">
                        <h3>Carlos Sánchez</h3>
                    </div>
                    <img src="..\Img\CasoExitos4.jpg" alt="Caso 4" class="caso-imagen">
                    <div class="reseña">
                        <p class="caso-fecha">Hace 3 meses (Centro de Gestión Administrativa)</p>
                        <p class="caso-resena">"Con más de 30 años de experiencia, el teletrabajo ha sido un cambio fundamental en mi vida. Me ha permitido seguir activo profesionalmente, optimizando mi tiempo y aumentando la productividad sin perder el contacto humano. La tecnología ha sido un aliado indispensable para seguir brindando mis conocimientos de forma eficiente y personal."</p>
                    </div>
                </div>
                <div class="caso">
                    <div class="nombre-instructor">
                        <h3>Isabel Lucumí</h3>
                    </div>
                    <img src="..\Img\CasoExitos5.jpg" alt="Caso 5" class="caso-imagen">
                    <div class="reseña">
                        <p class="caso-fecha">Hace 3 meses (Centro de Gestión de Mercados, Logística y TIC's)</p>
                        <p class="caso-resena">"Como mujer afrocolombiana, el teletrabajo ha sido una herramienta transformadora en mi carrera. He podido superar barreras geográficas y acceder a más oportunidades, mientras mantengo un equilibrio entre mi vida profesional y personal. Gracias al teletrabajo, pude redescubrir mi pasión por la enseñanza, y conectar con personas de diferentes contextos, lo que ha enriquecido mi experiencia profesional."</p>
                    </div>
                </div>
                <div class="caso">
                    <div class="nombre-instructor">
                        <h3>Catalina Usme</h3>
                    </div>
                    <img src="..\Img\CasoExitos6.jpg" alt="Caso 6" class="caso-imagen">
                    <div class="reseña">
                        <p class="caso-fecha">Hace 3 meses (Centro de Gestión Industrial)</p>
                        <p class="caso-resena">"El teletrabajo me ha permitido equilibrar mi amor por la docencia con mi deseo de explorar nuevos horizontes. Como paisa, siempre he valorado estar cerca de mi gente, pero trabajar desde cualquier lugar me ha brindado nuevas oportunidades. A los 30, ya no tengo que elegir entre mi carrera y mi vida personal. Gracias a la tecnología, puedo enseñar, aprender y disfrutar de mi ciudad natal al mismo tiempo."</p>
                    </div>
                </div>
            </div>
            
            <div class="casos-fila hidden-casos">
                <!-- Tercer grupo de casos -->
                <div class="caso">
                    <div class="nombre-instructor">
                        <h3>José Pérez</h3>
                    </div>
                    <img src="..\Img\CasoExitos7.jpg" alt="Caso 7" class="caso-imagen">
                    <div class="reseña">
                        <p class="caso-fecha">Hace 2 meses (Centro de Manufacturas en Textiles y Cuero)</p>
                        <p class="caso-resena">"El teletrabajo ha mejorado mi productividad al permitirme organizar mi tiempo de manera más eficiente. La tecnología me ha mantenido conectado con estudiantes y colegas, y esta modalidad ha transformado mi vida profesional, permitiéndome enseñar eficazmente desde casa."</p>
                    </div>
                </div>
                <div class="caso">
                    <div class="nombre-instructor">
                        <h3>Juan Sinisterra</h3>
                    </div>
                    <img src="..\Img\CasoExitos8.jpg" alt="Caso 8" class="caso-imagen">
                    <div class="reseña">
                        <p class="caso-fecha">Hace 4 meses (Centro de Materiales y Ensayos)</p>
                        <p class="caso-resena">"El teletrabajo ha transformado mi forma de enseñar y vivir. La flexibilidad me permite gestionar mi tiempo y conectar con estudiantes de todo el mundo, mientras mantengo el equilibrio entre mi vida personal y profesional. Es una modalidad que me ha dado nuevas oportunidades para crecer."</p>
                    </div>
                </div>
                <div class="caso">
                    <div class="nombre-instructor">
                        <h3>Marta Díaz</h3>
                    </div>
                    <img src="..\Img\CasoExitos9.jpg" alt="Caso 9" class="caso-imagen">
                    <div class="reseña">
                        <p class="caso-fecha">Hace 5 meses (Centro de Servicios Financieros)</p>
                        <p class="caso-resena">"El teletrabajo me ha permitido equilibrar mi carrera con mi familia, mejorando mi calidad de vida al poder estar más presente en casa sin sacrificar mi rendimiento profesional."</p>
                    </div>
                </div>
            </div>
            <div class="casos-fila hidden-casos">
                <!-- Cuarto grupo de casos -->
                <div class="caso">
                    <div class="nombre-instructor">
                        <h3>Luis García</h3>
                    </div>
                    <img src="..\Img\CasoExitos10.jpg" alt="Caso 10" class="caso-imagen">
                    <div class="reseña">
                        <p class="caso-fecha">Hace 6 meses (Centro de Tecnologías de Transporte)</p>
                        <p class="caso-resena">"El teletrabajo me ha permitido conciliar mi pasión por la docencia con mi vida personal. He logrado gestionar mejor mi tiempo y mejorar la conexión con mis estudiantes de diferentes partes del mundo. Ha sido una experiencia enriquecedora." </p>
                    </div>
                </div>
                <div class="caso">
                    <div class="nombre-instructor">
                        <h3>Sara Diaz</h3>
                    </div>
                    <img src="..\Img\CasoExitos11.jpg" alt="Caso 11" class="caso-imagen">
                    <div class="reseña">
                        <p class="caso-fecha">Hace 6 meses (Centro de Ciencia y Tecnología de Alimentos)</p>
                        <p class="caso-resena">"El teletrabajo me ha permitido mejorar mi calidad de vida y aumentar mi productividad. Gracias a la tecnología, he podido mantener una comunicación constante con mis estudiantes y seguir siendo parte activa del desarrollo educativo del país."</p>
                    </div>
                </div>
                <div class="caso">
                    <div class="nombre-instructor">
                        <h3>David Álvarez</h3>
                    </div>
                    <img src="..\Img\CasoExitos12.jpg" alt="Caso 12" class="caso-imagen">
                    <div class="reseña">
                        <p class="caso-fecha">Hace 10 meses (Centro de Servicios Financieros)</p>
                        <p class="caso-resena">"El teletrabajo ha transformado mi vida, brindándome mayor equilibrio entre mi vida personal y profesional. Gracias a la tecnología, puedo estar en constante comunicación con mis estudiantes, seguir siendo parte activa de su proceso de aprendizaje y continuar contribuyendo al avance educativo en el país, todo desde la comodidad de mi hogar."</p>
                    </div>
                </div>
            </div>
    
            

            <!-- Botón para ver más -->
            <div class="boton-container">
                <button id="verMasButton">Ver Más Casos</button>
            </div>
        </section>
    </main>
    <script>
        document.getElementById("verMasButton").addEventListener("click", function() {
            const hiddenCasos = document.querySelectorAll(".hidden-casos");
            hiddenCasos.forEach(casos => casos.style.display = "flex"); // Muestra todos los grupos ocultos
            this.style.display = "none"; // Oculta el botón después de hacer clic
        });
    </script>

    <script src="../Js/header.js"></script>
    <script src="../Js/footer.js"></script>
</body>
</html>
